<%= form_with(model: npi, id: 'request_npi', local: false) do |form| %>
  <div class="col-md-3">
    <div class="input-group mt-3 mb-3">
      <%= form.text_field :number, class: 'form-control', placeholder: 'NPI number',
                          aria: { label: 'NPI number', describedby: 'button-request-npi' } %>
      <%= form.submit 'request', class: 'btn btn-primary', id: 'button_request_npi',
                      data: { loading_text: 'requesting...', complete_text: 'requested' } %>
    </div>
  </div>
<% end %>
