<% content_for_scripts 'npis' %>

<h1 class="display-6">
  <small class="lead text-muted">CMT Solutions</small><br />
  National Provider Identifier (NPI)
</h1>

<%= render 'form', npi: Npi.new %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Number |
          <span class="fw-normal">Name</span> |
          <small class="text-muted fw-normal">Type</small>
        </th>
        <th class="d-none d-sm-table-cell">Addresses</th>
        <th class="d-none d-sm-table-cell">Taxonomies</th>
        <th></th>
      </tr>
    </thead>

    <tbody id="npis_table_body"><%= render 'index' %></tbody>
  </table>
</div>

<div class="modal fade" id="npiDataModal" tabindex="-1"
     aria-labelledby="npiDataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="npiDataModalLabel">NPI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre class="mb-0"><code class="language-json" data-lang="json"></code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
